<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>히스토리 | 소개 | 정주영 창업경진대회 11</title>
	<meta name="title" content="정주영 창업경진대회 11">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 11">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">
	<link rel="stylesheet" href="../../content/unitegallery/unite-gallery.css">
	<link rel="stylesheet" href="../../content/unitegallery/ug-theme-default.css" >

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/jquery-ui-1.12.1.custom.js"></script>
	<script src="../../content/scripts/common.js"></script>
	<script src="../../content/unitegallery/unitegallery.min.js"></script>
	<script src="../../content/unitegallery/ug-theme-compact.js"></script>
	<script>
    $(document).ready(function(){
		$("#video").tabs();
	});
    </script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">11회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv1-2 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>정주영 창업경진대회는</em>
					11년간
					<span class="linebreak1420over">총 6,000여 팀이 지원한 가장 도전적이고 창의적인</span>
					<strong>스타트업 발굴 사업</strong>입니다.
				</h2>
			</div><!--// grid -->
		</div>
		<div class="sub-visual-added sv1-2">
			<div class="grid">
				<h3>
					총 6천여개의 지원팀
					<em>1~10회 대회 누적 지표 & 지역별 비율</em>
				</h3>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="status">
				<div class="grid count-area">
					<div class="count-wrap">
						<span class="total">
							전체 접수 스타트업
							<em><strong id="count-no1">6,170</strong>명</em>
						</span>
						<ul class="region">
							<li>
								<span class="rgn">서울</span>
								<span class="people">3,317</span>
								<span class="rate">54%</span>
							</li>
							<li>
								<span class="rgn">인천/경기</span>
								<span class="people">1,078</span>
								<span class="rate">17%</span>
							</li>
							<li>
								<span class="rgn">부산/경남</span>
								<span class="people">415</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">대전/충청</span>
								<span class="people">445</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">광주/전라</span>
								<span class="people">296</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">대구/경북</span>
								<span class="people">310</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">울산</span>
								<span class="people">134</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">강원</span>
								<span class="people">124</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">제주</span>
								<span class="people">39</span>
								<span class="rate">1%</span>
							</li>
							<li>
								<span class="rgn">해외</span>
								<span class="people">12</span>
								<span class="rate">0%</span>
							</li>
						</ul>
					</div>
				</div><!--// grid -->
			</div><!--// status -->

			<div class="history">
				<div class="grid count-area">
					<h3 class="s-tit2"><span>2021년 제10회 정주영 창업경진대회</span></h3>
					<div class="indicator">
						<h4>주요성과</h4>
						<ul>
							<li>
								<em><span id="count-no2" class="count-up">91</span>:1</em>
								<p>대회 경쟁률</p>
							</li>
							<li>
								<em><span id="count-no3" class="count-up">92</span>%</em>
								<p>사업지속률</p>
							</li>
							<li>
								<em><span id="count-no4" class="count-up">50</span>%</em>
								<p>투자유치율</p>
							</li>
						</ul>
					</div>

					<section id="summaryContents">
						<article class="summaryCon1">
							<div class="panel" id="tab1">
								<div class="summaryInfo">
									<ul>
										<li>
											<em>대회 일정</em>
											<p>2021년 3월 2일 ~ 2021년 8월 26일</p>
										</li>
										<li>
											<em>총 지원팀</em>
											<p>1093팀</p>
										</li>
										<li>
											<em>결선 진출팀</em>
											<p>12개팀</p>
										</li>
									</ul>
									<div class="filter">
										<select id="sel1" name="sel1" onchange="selSummary(this)">
											<option value="2021" selected>제10회</option>
											<option value="2020">제9회</option>
											<option value="2019">제8회</option>
											<option value="2018">제7회</option>
											<option value="2017">제6회</option>
											<option value="2016">제5회</option>
											<option value="2015">제4회</option>
											<option value="2014">제3회</option>
											<option value="2013">제2회</option>
											<option value="2012">제1회</option>
										</select>
									</div>
								</div>

								<!-- 수상팀 -->
								<div class="summaryTeam">
									<h4>수상팀</h4>
									<ul class="rp-logo">
										<li>
											<a href="https://www.greetinghr.com/" target="_blank" title="두들린(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_01.png" alt="두들린" /></span>
												<span class="logo-tit">두들린</span>
												<span class="logo-txt">기업용 채용 관리 솔루션 ‘그리팅’ 개발, 운영</span>
											</a>
										</li>
										<li>
											<a href="https://www.stockeeper.co.kr/" target="_blank" title="스탁키퍼(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_02.png" alt="스탁키퍼" /></span>
												<span class="logo-tit">스탁키퍼</span>
												<span class="logo-txt">소비자-생산자 연결한 가축 자산플랫폼 ‘뱅카우’ 운영</span>
											</a> <!-- 220314 zoe 수정 -->
										</li>
										<li>
											<a href="https://silvia.io/" target="_blank" title="실비아(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_03.png" alt="실비아" /></span>
												<span class="logo-tit">실비아</span>
												<span class="logo-txt">비대면 인지 건강 관리 플랫폼 ‘실비아’ 개발, 운영</span>
											</a>
										</li>
										<li>
											<a href="https://blog.naver.com/asan_nanum/222473445138" target="_blank" title="리커퍼리(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_04.png" alt="리커퍼리" /></span>
												<span class="logo-tit">리커퍼리</span>
												<span class="logo-txt">커피박 활용해 제로웨이스트 바이오플라스틱(C-PLA)개발</span>
											</a>
										</li>
										<li>
											<a href="http://www.wavyroom.com/" target="_blank" title="스페이스웨이비(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_05.png" alt="스페이스웨이비" /></span>
												<span class="logo-tit">스페이스웨이비</span>
												<span class="logo-txt">모듈러 건축 시스템 기반 세컨하우스 개발 및 보급</span>
											</a>
										</li>
										<li>
											<a href="https://silverlining.co.kr/" target="_blank" title="블루비커(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_06.png" alt="내이루리" /></span>
												<span class="logo-tit">내이루리</span>
												<span class="logo-txt">실버 근거리 배달 서비스 ‘할배달’ 운영</span>
											</a>
										</li>
										<li>
											<a href="https://www.treadngroove.com/" target="_blank" title="트레드앤그루브(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_07.png" alt="트레드앤그루브" /></span>
												<span class="logo-tit">트레드앤그루브</span>
												<span class="logo-txt">폐타이어 업사이클링 패션 신발 브랜드</span>
											</a>
										</li>
										<li>
											<a href="https://blog.naver.com/asan_nanum/222442570461" target="_blank" title="도파민트(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_08.png" alt="도파민트" /></span>
												<span class="logo-tit">도파민트</span>
												<span class="logo-txt">NFT(대체불가토큰) 활용 디지털 피규어 수집 플랫폼 ‘도넛트럭’ 개발, 운영</span>
											</a>
										</li>
										<li>
											<a href="https://noteing.com/" target="_blank" title="세샤트(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_09.png" alt="세샤트" /></span>
												<span class="logo-tit">세샤트</span>
												<span class="logo-txt">Z세대의 디지털 스터디 드로잉 이북(E-Book) 플랫폼 ‘노팅(NOTEING)’ 개발, 운영</span>
											</a>
										</li>
										<li>
											<a href="https://www.saladweeks.co.kr/" target="_blank" title="위드위드아웃(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_10.png" alt="위드위드아웃" /></span>
												<span class="logo-tit">위드위드아웃</span>
												<span class="logo-txt">동네 제조 동네 픽업 샐러드 구독 플랫폼 ‘샐러드윅스’ 운영</span>
											</a>
										</li>
										<li>
											<a href="https://www.notion.so/REKET-93ac7d9c8d394a848f70e1b8d2616677" target="_blank" title="GC&COMPANY(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_11.png" alt="GC&COMPANY" /></span>
												<span class="logo-tit">GC&COMPANY</span>
												<span class="logo-txt">인플루언서 랜선플리마켓 플랫폼 ‘리켓(REKET)’ 운영</span>
											</a>
										</li>
										<li>
											<a href="https://blog.naver.com/asan_nanum/222482518707" target="_blank" title="파프리카데이터랩(새창)">
												<span class="logo-img"><img src="../../content/images/11th/logo/last_winner_logo_12.png" alt="파프리카데이터랩" /></span>
												<span class="logo-tit">파프리카데이터랩</span>
												<span class="logo-txt">라이프스타일 데이터 거래 플랫폼 ‘캐다’ 개발, 운영</span>
											</a>
										</li>
									</ul>
								</div>
								<!--// 수상팀 -->

								<!-- 대회영상 -->
								<div class="summaryPlay">
									<h4>대회영상</h4>

									<div id="video" class="compet-video">
										<div class="tab-cont">
											<!-- video #1 -->
											<div id="video-1">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="../../content/images/10th/thumb/video_img_01.png" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/l39coLaoSwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #1 -->

											<!-- video #2 -->
											<div id="video-2">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/4CwsUeNdXQI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #2 -->

											<!-- video #3 -->
											<div id="video-3">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/iewNgxHVfSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #3 -->

											<!-- video #4 -->
											<div id="video-4">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/fcThnN4qpjA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #3 -->
										</div><!--// tab-cont -->

										<ul class="tab">
											<li>
												<a href="#video-1">
													정주영 창업경진대회 10
													<em>소개 영상</em>
												</a>
											</li>
											<li>
												<a href="#video-2">
													정주영 창업경진대회 10
													<em>모집 영상</em>
												</a>
											</li>
											<li>
												<a href="#video-3">
													정주영 창업경진대회 10
													<em>데모데이 오프닝</em>
												</a>
											</li>
											<li>
												<a href="#video-4">
													정주영 창업경진대회 10
													<em>데모데이 온라인 LIVE</em>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!--// 대회영상 -->

								<!-- 대회사진 -->
								<div class="summaryGal">
									<h4>대회사진</h4>
									<div id="gallery">
										<img src="../../content/images/10th/thumb/compet_img_sm_01.jpg" data-image="../../content/images/10th/thumb/compet_img_01.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_02.jpg" data-image="../../content/images/9th/thumb/compet_img_02.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_03.jpg" data-image="../../content/images/9th/thumb/compet_img_03.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_04.jpg" data-image="../../content/images/9th/thumb/compet_img_04.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_05.jpg" data-image="../../content/images/9th/thumb/compet_img_05.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_06.jpg" data-image="../../content/images/9th/thumb/compet_img_06.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_07.jpg" data-image="../../content/images/9th/thumb/compet_img_07.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_08.jpg" data-image="../../content/images/9th/thumb/compet_img_08.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_09.jpg" data-image="../../content/images/9th/thumb/compet_img_09.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_10.jpg" data-image="../../content/images/9th/thumb/compet_img_10.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_11.jpg" data-image="../../content/images/9th/thumb/compet_img_11.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_12.jpg" data-image="../../content/images/9th/thumb/compet_img_12.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_13.jpg" data-image="../../content/images/9th/thumb/compet_img_13.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_14.jpg" data-image="../../content/images/9th/thumb/compet_img_14.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_15.jpg" data-image="../../content/images/9th/thumb/compet_img_15.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_16.jpg" data-image="../../content/images/9th/thumb/compet_img_16.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_17.jpg" data-image="../../content/images/9th/thumb/compet_img_17.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_18.jpg" data-image="../../content/images/9th/thumb/compet_img_18.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_19.jpg" data-image="../../content/images/9th/thumb/compet_img_19.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_20.jpg" data-image="../../content/images/9th/thumb/compet_img_20.jpg" alt="대회 현장 사진">
									</div>
								</div>
								<!--// 대회사진 -->
							</div><!--// panel -->
						</article>
					</section>

					<script type="text/javascript">
						jQuery("#gallery").unitegallery({
							gallery_width: 1360,
							gallery_height: 778,
							gallery_theme: "compact",
							gallery_images_preload_type: "minimal",
							slider_control_zoom: false,
							slider_enable_text_panel: false,
							slider_enable_play_button: false,
							slider_enable_fullscreen_button: false,
							slider_enable_zoom_panel: false,
					//		slider_arrow_left_offset_hor: 40,
					//		slider_arrow_right_offset_hor: 40,
							strippanel_enable_handle: false,
							strippanel_background_color: "rgba(24, 61, 49, 0.75)",
					//		strippanel_padding_top: 20,
					//		strippanel_padding_bottom: 20,
					//		strippanel_padding_left: 40,
					//		strippanel_padding_right: 40,
					//		theme_panel_position: "bottom",
					//		thumb_width: 178,
					//		thumb_height: 109,
							thumb_border_width: 0,
							thumb_selected_border_width: 2,
							thumb_selected_border_color: "rgba(202,255,237,0.33)"
						});
					</script>

				</div><!--// grid -->
			</div><!--// history -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울특별시 중구 동호로 208</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>